<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News Scraper</title>

  <link rel="stylesheet" href="style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
  <script src="app.js" defer></script>
</head>
<body>

    <header>News Scraper</header>
<div>
    <br>
    <a href="/articles"><button id='scrapeButton'>Scrape</button></a>
    <hr>
  {{{ body }}}
  </div>
  <footer>IGN corp license</footer>
</body>
</html>